*{
    margin: opx;
    padding: 0px;
    box-sizing: border-box;
    font-family: "arial", sans-serif;
}

body{
    background-color: #221f36;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    min-width: 70px;
    background-color: #1a1728;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-shrink: 0;
}

.logo{
    display: flex;
    align-items: center;
    color: #b7a9ff;
    font-size: 32px;
}

.logo img{
    height: 100px;
    margin-right: 10px;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-icons a {
    font-size: 45px;
    /* color: #a1a1a1;  */
    color: #bdbdbd;
    transition: 0.3s ease;
}

.social-icons a:hover {
    /* color: #3b2a7d; */
    color: #b7a9ff; 
    animation: bounce 0.4s ease forwards;
}


.birra{
    flex: 1;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.birra .birra-content{
    width: 50%;
    /* color:#fff */
    color: #ffffff;
}

.birra .birra-content h1{
    font-size: 55px;
    counter-reset: #fff;
}

.birra .birra-content p{
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 1.4;
    /* color: #a1a1a1; */
    color: #d7d7d7;
}

.birra .birra-content .btn-ingresar{
    display: inline-block;
   /*  background-color: #3b2a7d; */
    background-color: #7b5bf0;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s ease;
    cursor: pointer;
}

.birra .birra-content .btn-ingresar:hover{
    /* background-color: #3b2a7d; */
    background-color: #b7a9ff;
    color: #fff; 
    animation: bounce 0.4s ease forwards;
}

.birra .birra-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 380px;
    height: 380px;
    position: relative;
}

.birra .birra-image::before{
    content: "";
    position: absolute;
    height: 380px;
    width: 380px;
    background-color: #fff;
    border-radius: 50%;
    top: -25;
    right: 15px;
    z-index: -1;
}

.birra .birra-image img{
    width: 100%; 
    height: 100%;
    object-fit:cover ;
    border-radius: 50%;
}

.birra .birra-image img:hover{
    transform: translateY(-5px);
}

@keyframes bounce {
    0%   { transform: scale(1); }
    40%  { transform: scale(1.25); }
    60%  { transform: scale(0.9); }
    100% { transform: scale(1.2); }
}


footer{
    background-color: #1a1826;
    padding: 20px;
    margin: 0;
    color: #d4d4d4;
    text-align: center;
    flex-shrink: 0;
}

/* RESPONSIVE */

@media (max-width: 768px){

    header{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 25px 10px;
        gap: 15px;
        text-align: center;
    }

    .logo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 26px; 
        gap: 10px;
    }

    .logo img{
        height: 80px; 
        margin: 0;
    }

    .social-icons{
        margin-top: 10px;
        gap: 25px;
        justify-content: center;
    }

    .social-icons a{
        font-size: 35px;
    }

    
    .birra{
        flex-direction: column;
        text-align: center;
        padding: 20px;
        gap: 30px;
    }

    .birra .birra-content{
        width: 100%;
    }

    .birra .birra-image{
        width: 250px;
        height: 250px;
    }

    .birra .birra-image::before{
        width: 250px;
        height: 250px;
        top: -15px;
        right: 10px;
    }
}


